@model TutorDB.Models.Curriculums

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curriculums</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurricName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurricName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurricAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurricAuthor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurricId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
